[user]
  name = Austin Flores
  email = ctrl4ltdeleteme@gmail.com
[alias]
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
  delete-merged = !git branch --merged upstream/master | grep -v '\\*\\|master\\|dev' | xargs -n 1 git branch -d 
  purr = pull --rebase
  rl = rebase -i HEAD~2
  st = status -sb
  co = checkout
  ci = commit
  br = branch
  df = diff --color
  dfs = diff --color --staged
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  log-others = log -p --no-merges --author='Charles'
  log-me     = log -p --no-merges --author='Austin Flores'
  new-commits= log dev.. --pretty=oneline --no-merges
[color]
  ui = true
[pull]
  default = tracking
[push]
  default = tracking
