[user]
  name = Austin Flores
  email = ctrl4ltdeleteme@gmail.com
[alias]
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
  branchc = for-each-ref --sort=committerdate refs/heads/ --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short)'
  rom = pull --rebase origin master
  delete-merged = !git branch --merged upstream/master | grep -v '\\*\\|master\\|dev' | xargs -n 1 git branch -d 
  st = status -sb
  ci = commit
  df = diff --color
  dfs = diff --color --staged
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  lola = log --pretty=format:'%C(yellow)%h %C(red)%ad %C(blue)%an%C(green)%d %C(reset)%s' --date=short --graph --all
  plog = log --abbrev-commit --abbrev=5 --date=format:'%Y-%m-%d %H:%m'
  new-commits= log dev.. --pretty=oneline --no-merges
  log-file-changes = "!git log --pretty=format:'commit %H%nAuthor: %an%nFiles Changed:' --name-status"
[color]
  ui = true
[pull]
  default = tracking
[push]
  default = current
[core]
	editor = nvim
